<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h2>Agente de Prospección de Negocios / TOTVS Argentina</h2> 
        <h3>02/2022 - Presente</h3>
      </li>
      <P>
        Representante comercial de soluciones tecnológicas para TOTVS LATAM.
      </P>
    </ul>
    <ul>
      <li>
        <h2>Especialista en Generación de Demanda / Goals MKT Argentina</h2> 
        <h3>02/2020 - 02/2022</h3>
      </li>
      <P>
        Desarrollo de campañas B2B, para diversos Fabricantes y Partners
        Tecnológicos, posicionando soluciones en; Cybersecurity, ERP, IT
        Management, Data Center, Networking, eLearning, CloudMarketing, entre
        otras.
      </P>
    </ul>
    <ul>
      <li>
        <h2>Ingeniero Oil&Gas / PDVSA Venezuela</h2> 
        <h3>12/2010 - 09/2018</h3>
      </li>
      <P>
        Gestión técnica y administrativa en operaciones de perforación y
        workover on-shore, para la industria petrolera.
      </P>
    </ul>
  </div>
</div>
