<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotodeperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Renzo Moreno</p>
    <p>Full Stack Developer Jr.</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mí</h1>
      <p>
        "¡Hola! me llamo Renzo. Soy profesional del sector Oil&Gas, pero me
        desempeño en la actualidad como representante comercial de una
        multinacional que brinda soluciones tecnológicas. Inicié mi formación
        como desarrollador a través de #ArgentinaPrograma desde 2021. Todo lo
        adquirido me permitió diseñar un portal propio, aplicando diversos
        frameworks y lenguajes de programación, con los cuales logré plasmar mi
        portfolio profesional que pueden ver a continuación..."
      </p>
    </span>
  </div>
</div>
