<div class="row">
<h1>Hard & Soft Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="50"
      [radius]="80"
      [showUnits]="false"
      [title]="'HTML'"
      [titleColor]="'black'"
      [titleFontSize]="'2em'"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'orange'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="1200"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="50"
      [radius]="80"
      [showUnits]="false"
      [title]="'CSS'"
      [titleColor]="'black'"
      [titleFontSize]="'2em'"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'orange'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="1200"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="50"
      [radius]="80"
      [showUnits]="false"
      [title]="'JS'"
      [titleColor]="'black'"
      [titleFontSize]="'2em'"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'orange'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="1200"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="80"
      [radius]="80"
      [showUnits]="false"
      [title]="'Comercial'"
      [titleColor]="'black'"
      [titleFontSize]="'1.5em'"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'orange'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="1200"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="95"
      [radius]="80"
      [showUnits]="false"
      [title]="'Oil&Gas'"
      [titleColor]="'black'"
      [titleFontSize]="'1.5em'"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'orange'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="1200"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="80"
      [showUnits]="false"
      [title]="'Inglés'"
      [titleColor]="'black'"
      [titleFontSize]="'1.5em'"
      [showSubtitle]="false"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'orange'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="1200"
    ></circle-progress>
  </div>
</div>
